# Rafael RT582 SoC Kconfig

config SOC_SERIES_RT582
    select ARM
    select CPU_CORTEX_M3
    select CPU_HAS_ARM_MPU   # RT582 mcu.h: __MPU_PRESENT = 1

config SOC_RT582
    bool
    select SOC_SERIES_RT582

config SOC_SERIES
    default "rt582" if SOC_SERIES_RT582

config SOC
    default "rt582" if SOC_RT582
