config SOC_SERIES_RT582
    bool
    select SOC_FAMILY_ARM

config SOC_RT582
    bool
    select SOC_SERIES_RT582

config SOC_SERIES
    default "rt582" if SOC_SERIES_RT582

config SOC
    default "rt582" if SOC_RT582
